Session.vim
ipad.vim
macbook.vim
_minted-main/
*.markdown.*
**/_markdown_main/
appendix/


Literature/
tex/MITVersion/
.DS_STORE
node_modules/
*.swp
*.swo

#latex ignores
*.glsdefs
*.pdf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.lol
*.alg
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1

*.out
*.synctex.gz
